@import url(fontiran.css); 
body{
	font-family: IRANSans !important;
	font-weight: 300;
	direction: rtl;
    color: #282828;
    background: #f1f1f2;
}
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: IRANSans !important;
}
h1 {
	font-weight: bold;
}
.btn-custom-red{
	background-color: red;
	color: #fff;
	border-radius:0.25em 0 0 0.25em !important;
}
.btn-custom-red-wr{
	background-color: red;
	color: #fff;
	border-radius:0.25em !important;
}
.yellow{
	color:yellow;
}
#main-header{
	background-color: #252c41;
	color: #fff;
	font-size: 15px;
}
#main-header .top-nav .nav-item{
	border-left: 1px solid #777;
}
#main-header .middle-nav .nav-item img{
	width: 35px;
}
#main-header a{
	color: #fff;
}
#main-header ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #999;
    opacity: 1; 
    font-size: 13px;
    font-weight: 300;
}

#main-header :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999;
    font-size: 13px;
    font-weight: 300;
}

#main-header ::-ms-input-placeholder { /* Microsoft Edge */
    color: #999;
    font-size: 13px;
    font-weight: 300;
}
.form-box{


}
.form-inner-box{

		border:4px solid #ccc;
		padding: 10px;
		background-color: #fff;
}

.form-inner-box .btn{

		background-color: red;
		color: #fff;
}

#threecol-offer {
	font-weight: bold;
	color:#282828;
}
#threecol-offer div{

	text-align: center;
	border-left:1px solid #8c8c8c;

}
#threecol-offer div:last-child{

	border-left:none;

}
#threecol-offer i{
	color: #8c8c8c;
	vertical-align: middle;
	padding-left:5px 
}

#main-contents .right-col {


}
#main-contents .left-col {


}
#main-contents .right-col .box{

	background: #fff;
    margin-top: 30px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
#main-contents .right-col .box:first-child{
	margin-top: 0;
}
#main-contents .right-col .box .title{

    font-weight: bold;
    padding: 6px 20px;
    border-bottom: 1px solid #ddd;
    background: #f8f8f8;

}
#main-contents .right-col .box .body ul{

    padding: 5px 0;
}
#main-contents .right-col .box .body ul li{

    border: none !important;
}
#main-contents .right-col .box .body ul li:hover{

	background-color: #f9f9f9;
}
#main-contents .right-col .box .body ul li:hover>a{
	/*color: red;*/
}
#main-contents .right-col .box .body ul li a{

	color: #282828;
	text-decoration: none;
}
#main-contents .right-col .box .body ul li a i{

	vertical-align: middle;
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
}
#main-contents .left-col #special-offers img:first-child{
	margin: 0 0 ;
	margin-bottom: 10px
}
#main-contents .left-col #special-offers img{

	margin: 10px 0 ;
	box-shadow: 0px 0px 20px 5px #ddd;


}

#main-contents .left-col #main-content .box{



}
#main-contents .left-col #main-content .box .inner-box{

	background-color: #fff;
	border: 1px solid #ddd;
    box-shadow: 0px 3px 0px 0px #e2e2e2;
    padding: 0px 1em;
    padding-bottom: 1.5em;
    font-size: 14px;
}
#main-contents .left-col #main-content .box .inner-box h4{

	font-size: 1.05rem;
	padding:1em 0;
}
#footer #brands{

	background-color: #fff;

}
#footer #brands img{

	filter: grayscale(100%);
	transition:all 0.3s;
	cursor: pointer;
}
#footer #brands img:hover{

	filter: grayscale(0%);

}

#footer #main-footer{

	background-color: #f1f1f2;
}
#footer #main-footer .box{


}
#footer #main-footer .box .inner-box{

	padding: 10px 0;
}
#footer #main-footer .box .inner-box h4{
	
	font-size: 1rem;

}
#footer #main-footer .box .inner-box .list-group-item {
    position: relative;
    display: block;
    padding: .5rem 0.4rem!important;
    margin-bottom: -1px;
    background-color: transparent !important; 
    border: none !important;
    font-size: 14px; 
}


.scroll {
    position: fixed;
    z-index: 9999;
    transition:all 1s;
    margin-top: -200px;

}
